<!DOCTYPE html>
<html>
<head>
  <title>RailsTaskManager</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <script src="https://kit.fontawesome.com/bae5c5edb7.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
